@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #23272a !important;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Julius+Sans+One&family=Manrope:wght@300;400;700&display=swap");

/* button.css */
@import url("https://realtechnerd.github.io/button.css/style.css");

.home-btn {
  padding: 14px 38px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #23272a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.indicateGreen {
  text-shadow: 0 0 12px #1bc47d;
  color: #1bc47d !important;
  cursor: default !important;
}
.indicateRed {
  text-shadow: 0 0 12px #bb1e10;
  color: #bb1e10 !important;
  cursor: default !important;
}
